// colors

$col-white: #FFFFFF;
$col-black: #000000;

$col-primary: #AF1328;
$col-primary-100:#A88C8A;
$col-primary-200: #3a2c2b;
$col-primary-300: #1D1616;

$col-secondary:#E9A501;



$font-default: 'Poppins', sans-serif;