@import '../../styles/variables';
@import '../../styles/mixins';

#mainNav {
  @include flex(space-between, center);
  padding: 1rem 6%;

  .nav {
    @include flex(flex-start, center);
    list-style: none;
    padding: 0;
    margin: 0;

    &_item {
      margin-right: 1.3rem;
    }

    &_link {
      color: $col-white;
    }
  }

  .extra_link {
    color: $col-white;
  }
}