@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "@/styles/variables";
@import "@/styles/mixins";

.product {
  width: 100%;
  background-color: white;

  .holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
  }
  .key {
    color: black;
  }
  .greenly {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .key {
    color: #574240;
  }
  .white {
    margin-left: 20px;
  }

  .single {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .images {
    flex: 1;
  }

  .element {
    flex: 1;
  }
  .masky {
    display: flex;
    flex-direction: row;
  }
  .name {
    padding-top: 0;
  }
  h4 {
    line-height: 44px;
    font-weight: 600;
    font-size: 32px;
  }
  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
    padding-top: 10px;
    color: #1d1616;
  }
  .review {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    justify-content: space-between;
  }
  .revs {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .box_productRating {
    display: flex;

    span {
      font-size: 1.2rem;
      color: #ffc107;
    }
  }
  .six {
    padding-left: 13px;
  }
  .colors {
    display: flex;
    flex-direction: row;
    margin: 30px 0 10px 0;
  }
  .paint {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  .yellow {
    background: #ffc107;
    width: 32px;
    height: 32px;
  }
  .maroon {
    background: #c80f0f;
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }
  .pink {
    background: #ff007f;
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }
  .size {
    display: flex;
    flex-direction: row;
    padding-bottom: 65px;
  }
  .fort {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 40px;
  }
  .forty {
    width: 32px;
    height: 32px;
    border: 1px solid #574240;
    text-align: center;
    padding-top: 2px;
  }
  .line {
    border: 1px solid #bfa5a3;
  }

  .share {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
  .book {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }
  .twitter {
    margin-left: 10px;
  }
  .whatsapp {
    margin-left: 10px;
  }
  .copy {
    margin-left: 10px;
  }
  .shareon {
    line-height: 40px;
  }
}
