@import "@/styles/variables";
@import "@/styles/mixins";

.pag_container {
  @include flex(center, center, row);
  width: 100%;
  margin: 5rem 0;

  .pag_sub {
    @include flex(flex-start, center, row);
    margin: 0 10px;

    @include respondMax("mobile") {
      margin: 0 8px;
    }

    a {
      margin: 0 10px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1d1616;
      margin-bottom: 0;

      @include respondMax("mobile") {
        margin: 0 8px;
        font-size: 14px;
      }
    }

    .pag_active {
      padding: 8px 16px;
      border: 1px solid #af1328;
      border-radius: 10px;
      color: #af1328;

      @include respondMax("mobile") {
        padding: 5px 10px;
      }
    }

    p {
      margin: 0 10px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1d1616;
      margin-bottom: 0;
    }
  }

  .pag_button {
    padding: 8px 15px;
    background: #af1328;
    border-radius: 10px;

    &:nth-child(1) {
      @include respondMax("mobile") {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
      }
    }

    &:nth-child(3) {
      @include respondMax("mobile") {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
      }
    }

    a {
      @include flex(flex-start, center, row);

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 0;
      }

      i {
        font-size: 16px;
        margin: 0 14px;
        color: #fff;

        @include respondMax("mobile") {
          margin: 0 8px;
        }
      }
    }
  }
}
