@import "@/styles/variables";
@import "@/styles/mixins";

#categoryGrid {
  @include flex(space-between, flex-start);
  margin-bottom: 2rem;
}

.mainContainer {
  margin-top: 2rem;
  width: 50%;
  flex: 5;
}

.mainContainer__full {
  margin-top: 2rem;
  width: 100%;
}

.sidebarContainer {
  // width: 20%;
  flex: 2;
  margin-top: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.25rem;
  margin-bottom: 2rem;

  .product {
    width: 100%;
  }
}

.cards {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 2rem;

  .card {
    width: 32%;
  }
}

.banners {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 2rem;

  .banner {
    width: 48%;
  }
}
