@import "@/styles/variables";
@import "@/styles/mixins";

.menu {
  z-index: 3;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $col-white;
  width: 100%;
  padding: 20px;
  background-color: $col-bg;
  overflow: auto;

  .authDiv {
    @include flex(space-between, center);
  }

  .userDiv {
    @include flex(space-between, center);

    .userInitials {
      height: 40px;
      width: 40px;
      background: $col-green;
      border-radius: 2px;
      @include flex(center, center);
    }

    .user {
      @include flex(flex-start, flex-start, column nowrap);
    }
  }

  .menuItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 30px;
    gap: 20px;
  }

  .categories {
    margin-top: 16px;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $col-primary-400;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
    }
  }
}
