@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "@/styles/variables";
@import "@/styles/mixins";

.stock {
  margin-bottom: 7rem;

  .stocks {
    border: 2px solid #bfa5a333;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0.5rem;
  }

  button {
    background-color: brown;
  }

  .current {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding-top: 20px;
  }

  .sell {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
  }

  button {
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    background: #af1328;
    color: white;
    padding: 1rem 2rem;
  }
}
