@import "@/styles/variables";
@import "@/styles/mixins";

#categoryGrid {
  @include flex(space-between, flex-start);
  margin-bottom: 1rem;
}

.mainContainer {
  @include flex();
  margin-top: 1rem;
  width: 78%;
  // flex: 3;

  @include respondMax("tablet") {
    width: 100%;
  }
}

.mainContainer__full {
  @include flex();
  margin-top: 1rem;
  width: 100%;
}

.sidebarContainer {
  width: 20%;
  // flex: 1;
  margin-top: 1rem;

  @include respondMax("tablet") {
    display: none;
  }
}

.products {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 1rem;

  .product {
    width: 24%;

    @include respondMax("mobile") {
      width: 48%;
    }
  }
}

.cards {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 1rem;

  .card {
    width: 32%;

    @include respondMax("tablet") {
      width: 100%;
      display: none;
    }
    @include respondMax("mobile") {
      width: 100%;
    }
  }
}

.banners {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;

  @include respondMax("mobile") {
    display: block;
  }

  .banner {
    width: 48%;

    @include respondMax("tablet") {
      width: 100%;
      display: none;
    }

    @include respondMax("mobile") {
      width: 100%;
      margin: 0.75rem 0 0.75rem 0;
    }
  }
}
