@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "@/styles/variables";
@import "@/styles/mixins";

.filled {
  background-color: white;
  width: 100%;
  padding: 2rem;

  .products {
    display: flex;
    flex-direction: row;
    @include respondMax("tablet") {
      flex-direction: column;
    }
    justify-content: space-between;
  }
}
