@import "@/styles/variables";
@import "@/styles/mixins";

.empty_container {
  @include flex(center, center, row);
  margin-bottom: 100px;
  padding: 150px 40px;
  background: #fff;
  border: 2px solid #bfa5a3;
  border-radius: 5px;
  width: 100%;
  margin-top: 62px;

  .empty_content {
    .img {
      @include flex(center, center, row);
    }

    .head {
      font-weight: 600;
      margin-top: 48px;
      font-size: 32px;
      color: #574240;
      text-align: center;
      margin-bottom: 4px;
    }

    .sub {
      font-size: 18px;
      text-align: center;
      color: #bfa5a3;
    }
  }
}
