@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "@/styles/variables";
@import "@/styles/mixins";


.store_options{

    .options{
      height: 88px;
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      font-family: 'Poppins', sans-serif;

      @media (min-width: 220px) and (max-width: 640px) {
        flex-direction: row;
        height: 60px;
      }

      @media (min-width: 641px) and (max-width: 768px) {
        flex-direction: row;
        height: 60px;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        flex-direction: row;
        height: 75px;
      }

    }
    .list{
        margin-left: 90px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding-top: 36px;
        padding-bottom: 36px;

        @media (min-width: 220px) and (max-width: 640px) {
          font-weight: 300;
          font-size: 10px;
          line-height: 18px;
          padding-top: 30px;
          padding-bottom: 30px;
          margin-left: 8px;
        }
  
        @media (min-width: 641px) and (max-width: 768px) {
          font-weight: 300px;
          font-size: 16px;
          line-height: 20px;
          padding-top:30px;
          padding-bottom: 30px;
          margin-left: 25px;
        }
  
        @media (min-width: 769px) and (max-width: 1024px) {
          font-size: 14px;
          font-weight: 400px;
          line-height: 22px;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-left: 30px;
        }
  
    }
    .link{
      text-decoration: none;
      color: black;
    }
    .link:hover{
      text-decoration: underline;
      color: #AF1328;
    }
    .link::after{
      text-decoration: underline;
      color: #AF1328;
    }

    .build {
        padding: 2rem 6%;
        background-color: #fefbfc;
        width: 100%;
        margin: 0 auto;
      }
      
      .build ::-webkit-input-placeholder {
        color: #bfa5a3 !important;
      }
      
      .build :-ms-input-placeholder {
        color: #bfa5a3 !important;
      }
      
      .build ::-ms-input-placeholder {
        color: #bfa5a3 !important;
      }
      
      .build ::placeholder {
        color: #bfa5a3 !important;
      }
}


