@import "@/styles/variables";
@import "@/styles/mixins";

.checkout_container {
  @include flex(center, flex-start, row);
  margin-bottom: 277px;
  width: 100%;

  @media (min-width: 260px) and (max-width: 960px) {
    display: flex;
    flex-direction: column;
  }

  .first_box {
    margin-right: 32px;
    width: 100%;
    flex: 3;

    @media (max-width: 960px) {
      margin-right: 0;
    }

    @include respondMax("tablet") {
      width: 100%;
    }

    .billing_container {
      border-radius: 5px;
      border: 1px solid rgba(191, 165, 163, 0.5);
      background-color: #fff;
      padding: 30px;

      .title_box {
        @include flex(flex-start, center, row);
        margin-bottom: 20px;

        p {
          margin-left: 24px;
          color: #1d1616;
          font-size: 22px;
          margin-bottom: 0;
          font-weight: 600;
        }
      }

      form {
        padding: 30px;

        .input_grid {
          display: grid;
          gap: 24px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          width: 100%;
          margin-bottom: 24px;

          @media (min-width: 320px) and (max-width: 640px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }

          @media (min-width: 641px) and (max-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          @media (min-width: 769px) and (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          .select_box {
            width: 100%;
            @include flex(flex-start, center, row);

            .custom {
              @include flex(flex-start, center, row);
              position: relative;
              width: 60%;
              margin-right: 8px;

              select {
                border: 1px solid rgba(191, 165, 163, 0.5);
                background: transparent;
                height: 58px;
                padding: 0 15px;
                color: #1d1616;
                font-size: 16px;
                outline: none;
                border-radius: 5px;
                appearance: none;
                width: 100%;

                option {
                  color: #1d1616;
                  font-size: 16px;
                }
              }

              i {
                position: absolute;
                right: 0;
                margin-right: 15px;
              }
            }

            input {
              width: 100%;
              border: 1px solid rgba(191, 165, 163, 0.5);
              background: #fff;
              padding: 16px 24px;
              color: #1d1616;
              font-size: 16px;
              outline: none;
              border-radius: 5px;
            }

            ::placeholder {
              color: #bfa5a3 !important;
            }
          }

          .input_box {
            width: 100%;

            input {
              width: 100%;
              border: 1px solid rgba(191, 165, 163, 0.5);
              background: #fff;
              padding: 16px 24px;
              color: #1d1616;
              font-size: 16px;
              outline: none;
              border-radius: 5px;
            }

            ::placeholder {
              color: #bfa5a3 !important;
            }
          }
        }

        .one_input {
          width: 100%;
          margin-bottom: 24px;

          textarea {
            height: 150px;
            width: 100%;
            border: 1px solid rgba(191, 165, 163, 0.5);
            background: #fff;
            padding: 16px 24px;
            color: #1d1616;
            font-size: 16px;
            outline: none;
            border-radius: 5px;
          }

          ::placeholder {
            color: #bfa5a3 !important;
          }

          .custom {
            @include flex(flex-start, center, row);
            position: relative;
            width: 100%;

            select {
              border: 1px solid rgba(191, 165, 163, 0.5);
              background: transparent;
              padding: 16px 24px;
              color: #1d1616;
              font-size: 16px;
              outline: none;
              border-radius: 5px;
              appearance: none;
              width: 100%;

              option:disabled,
              option::selection {
                color: #bfa5a3 !important;
                font-size: 16px;
              }

              option {
                color: #1d1616;
                font-size: 16px;
              }
            }

            i {
              position: absolute;
              right: 0;
              margin-right: 15px;
            }
          }
        }

        button {
          width: 100% !important;
          padding: 16px;
          border-radius: 5px;
          background-color: #af1328;
          appearance: none;
          border: none;
          outline: none;
          font-weight: 600;
          color: #fff;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .form_content {
        margin: 0 30px;
        padding: 24px;
        border-radius: 5px;
        background: #f9f6f6;

        @media (min-width: 220px) and (max-width: 1024px) {
          padding-top: 10px;
        }

        .top_head {
          @include flex(flex-start, center, row);
          margin-bottom: 4px;

          @media (min-width: 220px) and (max-width: 320px) {
            flex-direction: column;
          }

          .name {
            font-size: 16px;
            margin-bottom: 0px;
            font-weight: 600;
            color: #1d1616;
          }

          .edit {
            font-weight: 500;
            font-size: 14px;
            color: #af1328;
            text-decoration: underline;
            margin-left: auto;
          }
        }

        .contact:last-child {
          margin-bottom: 0;
        }

        .contact {
          font-size: 14px;
          color: #574240;
          margin-bottom: 2px;
        }
      }
    }

    .delivery_container {
      border-radius: 5px;
      border: 1px solid rgba(191, 165, 163, 0.5);
      background-color: #fff;
      padding: 30px;
      margin-top: 32px;

      .title_box {
        @include flex(flex-start, center, row);
        margin-bottom: 20px;

        p {
          margin-left: 24px;
          color: #1d1616;
          font-size: 22px;
          margin-bottom: 0;
          font-weight: 600;
        }
      }

      .sub {
        font-size: 18px;
        font-weight: 500;
        color: #1d1616;
        margin-bottom: 32px;
      }

      .option_box {
        .option_grid {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          width: 100%;
          margin-bottom: 14px;

          @media (min-width: 220px) and (max-width: 640px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }

          @media (min-width: 641px) and (max-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          @media (min-width: 769px) and (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          .option_one:active,
          .option_one:focus {
            border: 1px solid #ffc107 !important;
            background-color: rgba(255, 193, 7, 0.05) !important;
          }

          .option_one {
            @include flex(flex-start, center, row);
            width: 100%;
            border-radius: 5px;
            background: #f9f6f6;
            padding: 16px 16px;
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;

            .info {
              margin-left: 16px;

              @media (min-width: 220px) and (max-width: 320px) {
                margin-right: 8px;
                margin-left: 1px;
              }

              .head {
                color: #1d1616;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 4px;
                text-align: left;
              }

              .sub_text {
                color: #574240;
                font-size: 14px;
                margin-bottom: 0;
                text-align: left;
              }
            }
          }

          .option_two:active,
          .option_two:focus {
            border: 1px solid #ffc107 !important;
            background-color: rgba(255, 193, 7, 0.05) !important;
          }

          .option_two {
            @include flex(flex-start, center, row);
            width: 100%;
            border-radius: 5px;
            background: #f9f6f6;
            padding: 16px 16px;
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;

            .info {
              margin-left: 16px;

              @media (min-width: 220px) and (max-width: 320px) {
                margin-right: 8px;
                margin-left: 1px;
              }

              .header {
                margin-bottom: 10px;

                .head {
                  color: #1d1616;
                  font-size: 18px;
                  font-weight: 500;
                  margin-bottom: 8px;
                  text-align: left;
                }

                .pickupbtn {
                  border: 2px solid #af1328;
                  border-radius: 5px;
                  padding: 8px 10px;
                  color: #af1328;
                  font-size: 14px;
                  background-color: transparent;
                  cursor: pointer;
                  margin-left: auto;
                }
              }

              .sub_text {
                color: #574240;
                font-size: 14px;
                margin-bottom: 0;
                max-width: 300px;
                text-align: left;
              }
            }
          }
        }
      }

      button {
        width: 100% !important;
        padding: 16px;
        border-radius: 5px;
        background-color: #af1328;
        appearance: none;
        border: none;
        outline: none;
        font-weight: 600;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }

      .form_content {
        margin: 0 20px;
        padding: 24px;
        border-radius: 5px;
        background: #f9f6f6;

        @media (min-width: 220px) and (max-width: 1024px) {
          padding-top: 10px;
        }

        .top_head {
          @include flex(flex-start, center, row);
          margin-bottom: 4px;

          @media (min-width: 220px) and (max-width: 320px) {
            flex-direction: column;
          }

          .name {
            font-size: 16px;
            margin-bottom: 0px;
            font-weight: 600;
            color: #1d1616;
          }

          .edit {
            font-weight: 500;
            font-size: 14px;
            color: #af1328;
            text-decoration: underline;
            margin-left: auto;
          }
        }

        .contact:last-child {
          margin-bottom: 0;
        }

        .contact {
          font-size: 14px;
          color: #574240;
          margin-bottom: 2px;
        }
      }
    }

    .payment_container {
      border-radius: 5px;
      border: 1px solid rgba(191, 165, 163, 0.5);
      background-color: #fff;
      padding: 30px;
      margin-top: 32px;

      button {
        width: 100% !important;
        padding: 16px;
        border-radius: 5px;
        background-color: #af1328;
        appearance: none;
        border: none;
        outline: none;
        font-weight: 600;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }

      .title_box {
        @include flex(flex-start, center, row);
        margin-bottom: 20px;

        p {
          margin-left: 24px;
          color: #1d1616;
          font-size: 22px;
          margin-bottom: 0;
          font-weight: 600;
        }
      }

      .info_box {
        @include flex(flex-start, center, row);
        padding: 20px 0;
        border-top: 1px solid #bfa5a3;
        border-bottom: 1px solid #bfa5a3;

        @media (min-width: 220px) and (max-width: 320px) {
          flex-direction: column;
        }

        .order_id {
          font-size: 16px;
          font-weight: 500;
          color: #574240;
          margin-bottom: 0;
        }

        .price {
          margin-left: auto;
          font-weight: 600;
          font-size: 22px;
          color: #1d1616;
          margin-bottom: 0;
          padding-right: 5px;
        }
      }

      .option_grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
        margin-bottom: 24px;

        @media (min-width: 220px) and (max-width: 640px) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        @media (min-width: 641px) and (max-width: 768px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .option_box {
          @include flex(flex-start, flex-start, row);
          margin-top: 32px;

          .inputRound {
            width: 32px;
            height: 32px;
            border: 1px solid #c4c4c4 !important;
            border-radius: 30px !important;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            outline: none;
            cursor: pointer;
          }

          .inputRound:checked {
            background: #009d19;
            border: 1px solid #009d19 !important;
            padding: 2px;
          }

          .info {
            margin-left: 16px;

            @media (min-width: 220px) and (max-width: 320px) {
              margin-left: 4px;
            }

            .head {
              font-weight: 600;
              font-size: 18px;
              color: #1d1616;
              margin-bottom: 4px;
            }

            .sub {
              font-size: 14px;
              color: #574240;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .second_box {
    @include respondMax("tablet") {
      margin-top: 25px;
    }

    flex: 1;
    width: 100%;
    display: block;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(191, 165, 163, 0.5);
    box-shadow: 0 0 20px rgba(191, 165, 163, 0.15);

    .title {
      font-size: 22px;
      font-weight: 600;
      color: #1d1616;
      margin-bottom: 40px;
    }

    .card_box {
      margin-bottom: 40px;

      .card {
        @include flex(flex-start, flex-start, row);
        border-radius: 5px;
        border: 1px solid rgba(191, 165, 163, 0.5);
        filter: drop-shadow(0 0 20px rgba(191, 165, 163, 0.15));
        margin-bottom: 24px;
        padding: 10px;

        .info {
          margin-left: 16px;

          @media (min-width: 220px) and (max-width: 320px) {
            margin-left: 4px;
          }

          .seller {
            font-size: 12px;
            color: #bfa5a3;
            margin-bottom: 2px;
          }

          .name {
            font-weight: 600;
            font-size: 16px;
            color: #574240;
            margin-bottom: 8px;
            max-width: 220px;
          }

          .item_info {
            @include flex(flex-start, center, row);

            .qty {
              font-size: 12px;
              color: #bfa5a3;
              margin-bottom: 0;
            }

            .price {
              font-size: 16px;
              margin-left: auto;
              font-weight: 600;
              color: #574240;
              margin-bottom: 0;
              padding-right: 5px;
            }
          }
        }
      }
    }

    .subtotal_box {
      @include flex(flex-start, center, row);
      padding: 24px 0;
      border-top: 1px solid rgba(191, 165, 163, 0.3);
      border-bottom: 1px solid rgba(191, 165, 163, 0.3);

      .head {
        font-size: 16px;
        font-weight: 500;
        color: #574240;
        margin-bottom: 0;
      }

      .price {
        font-size: 16px;
        font-weight: 500;
        margin-left: auto;
        color: #574240;
        margin-bottom: 0;
        padding-right: 5px;
      }
    }

    .charge_box {
      @include flex(flex-start, center, row);
      padding: 24px 0;
      border-bottom: 1px solid rgba(191, 165, 163, 0.3);

      .head {
        font-size: 16px;
        font-weight: 500;
        color: #574240;
        margin-bottom: 0;
      }

      .price {
        font-size: 16px;
        font-weight: 500;
        margin-left: auto;
        color: #574240;
        margin-bottom: 0;
        padding-right: 5px;
      }
    }

    .total_box {
      @include flex(flex-start, center, row);
      margin-top: 24px;

      .head {
        font-size: 16px;
        font-weight: 500;
        color: #1d1616;
        margin-bottom: 0;
        font-weight: bold;
      }

      .price {
        font-size: 20px;
        font-weight: 500;
        margin-left: auto;
        color: #1d1616;
        font-weight: bold;
        margin-bottom: 0;
        padding-right: 5px;
      }
    }
  }
}
