@import "@/styles/variables";
@import "@/styles/mixins";

.footer {
  background-color: $col-primary-300;
  padding: 2.5rem 5% 0;
  color: $col-white;

  .footer_section {
    @include flex(space-between, center);

    &One {
      border-bottom: 1px solid #c0c0c093;
      padding-bottom: 2rem;
    }

    &Two {
      @include flex(space-between, flex-start);
      border-bottom: 1px solid #c0c0c093;
      padding: 3rem 0 2rem;

      @include respondMax("mobile") {
        display: block;
      }
    }

    &Three {
      padding: 1.2rem 0;
    }
  }

  .cta_section {
    @include flex(space-between, center);

    @include respondMax("tablet") {
      margin-top: 0.75rem;
    }
  }

  .cta {
    margin-right: 2.5rem;

    @include respondMax("tablet") {
      margin-right: 0;
    }

    &_heading {
      color: $col-white;
    }

    &_text {
      margin: 0;
      font-size: 0.7rem;
      opacity: 0.8;
    }
  }

  .form {
    height: 36px;
    margin: 0.5rem 0 0.5rem 0;
    @include flex(space-between, center);

    @include respondMax("mobile") {
      margin-bottom: 2rem;
    }

    &_input {
      flex-grow: 1;
      height: 100%;
      margin-right: 0.5rem;
      background: #574242;
      border: 1px solid #624b4b;
      border-radius: 5px;
      padding: 0 1rem;
      outline: none;

      @include respondMax("mobile") {
        width: 100%;
      }

      &::placeholder {
        color: #bda8a8;
        font-size: 0.8rem;
      }
    }

    .btn {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 100%;
      background: $col-primary-50;
      color: $col-black;

      @include respondMax("mobile") {
        margin-top: 0.6rem;
      }
    }
  }

  .nav {
    &_header {
      color: $col-white;
      margin-bottom: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &_menu {
      list-style: none;
      padding: 0;
    }

    &_item {
      margin: 0 0 1rem;
    }

    &_link {
      color: $col-white;
      opacity: 0.6;
      transition: all 0.2s linear;

      &:hover {
        opacity: 1;
        color: $col-white;
      }
    }
  }

  .copyright {
    opacity: 0.7;

    &_text {
      margin: 0;
      @include flex(space-between, center);
    }

    &_symbol {
      font-size: 1.2rem;
      margin: 0 0.3rem;
    }
  }

  .gateways {
    @include flex(flex-start, center);

    .gateway {
      margin-right: 0.5rem;
    }
  }

  .social {
    @include flex(space-between, center);

    &_link {
      margin: 0 0 0 0.5rem;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
