@import "@/styles/variables";
@import "@/styles/mixins";

.hero {
  background-color: #fbf4f5;
  // background-image: url("/svg/bg-elipse1.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 0 0;
  width: 100%;

  // svg {
  //   display: block;
  // }

  @include respondMax("tablet") {
    padding: 30px 0 0;
  }
}
.hero_split {
  @include flex(flex-start, center, nowrap);
  margin-top: 150px;
  padding: 0 5rem;

  @include respondMax("tablet") {
    margin-top: 90px;
    padding: 0 20px;
  }
}
.hero_textContent {
  // max-width: 100px;
  width: 40%;

  @include respondMax("tablet") {
    width: 100%;
  }
}
.hero_textContent__headText {
  font-size: 2.5rem;
  font-weight: 700;
  color: $col-primary-300;
}
.hero_textContent__subText {
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  color: #574240;
}
.hero_image2__div {
  position: absolute;
  right: 19rem;
  bottom: 10rem;
}

.sell {
  color: $col-primary-300;
  &:hover {
    color: $col-primary;
    border-bottom: 2px solid $col-primary;
  }
}
