@import "@/styles/variables";
@import "@/styles/mixins";

.card {
  @include flex(space-between, stretch, row nowrap);
  border: 10px solid #c4c4c4;
  background: #f3f3f3;
  padding: 1rem;
  margin: 2rem 0;

  @include respondMax("tablet") {
    margin: 1rem 20px 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
  @include respondMax("mobile") {
    margin: 0.5rem 0;
  }
}

.card_imageContainer {
  width: 45%;
  @include respondMax("tablet") {
    width: 100%;
  }

  div {
    height: 100%;
  }
}

.card_textContainer {
  @include flex(space-between, flex-start);
  width: 55%;
  @include respondMax("tablet") {
    width: 100%;
  }
  color: #c4c4c4;
  padding: 0.5rem 0;

  .card_text {
    width: 100%;

    &:first-child {
      margin-bottom: auto;
    }

    &:last-child {
      margin-top: auto;
    }
  }
}

.card_textSm {
  font-size: 0.6rem;
  text-transform: uppercase;
  margin: 0;
}

.card_textMd {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.card_textLg {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}
