@import "../../../../styles/variables";
@import "../../../../styles/mixins"; 

.title {
  @include flex(flex-start, center);
  margin: 1rem 0;
}

.title_heading {
  border-right: 1px solid #C4C4C4;
  padding-right: 2rem;
  color: #483735;
  font-size: 1.5rem;
  margin: 0
}

.title_timer {
  @include flex(flex-start, center);
  padding: 0 2rem;

  &Section {
    color: #736160;
    margin-right: 1rem;
    text-align: center;
  }

  &Count {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
  }

  &Period {
    font-size: 0.6rem;
    margin-top: 0.1rem;
  }
}

.title_btn {
  @include flex(flex-end, center);
  margin-left: auto;
  color: #736160;
  font-size: 1.1rem;

  i {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}
