@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.banner {
  @include flex(space-between, stretch);
  padding: 2rem 1.5rem 2rem 2rem;
  background: linear-gradient(101.17deg, #cf162f 0%, #810e1d 99.71%);
  border-radius: 5px;
}

.imageContainer {
  width: 50%;

  div {
    height: 100%;
    width: 100%;
  }
}

.textContainer {
  width: 50%;
  padding: 1rem 0;
  color: $col-white;

  .textSm {
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  .textLg {
    color: $col-white;
    font-size: 1rem;
  }

  .btn {
    color: #af1328;
    background: #f3f3f3;
    border-radius: 3px;
    font-weight: 500;
    font-size: 0.5rem;
    padding: 0.4rem 0.6rem;

    span {
      font-size: 0.7rem;
      margin-left: 0.5rem;
    }
  }
}
