@import "@/styles/variables";
@import "@/styles/mixins";

#categoryGrid {
  @include flex(space-between, flex-start);
  margin-bottom: 2rem;
}

.mainContainer {
  @include flex();
  margin-top: 2rem;
  width: 78%;
}

.mainContainer__full {
  margin-top: 2rem;
  width: 100%;
}

.sidebarContainer {
  width: 20%;
  margin-top: 2rem;
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  margin-bottom: 2rem;
  

  @media (min-width: 320px) and (max-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 641px) and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .product {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
  }
}

.cards {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 2rem;

  .card {
    width: 32%;
  }
}

.banners {
  @include flex(space-between, flex-start);
  width: 100%;
  margin-bottom: 2rem;

  .banner {
    width: 48%;
  }
}
