@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.header {
  border-bottom: 1px solid #736160;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

.product {
  @include flex(space-between, stretch);
  margin-bottom: 1rem;

  &_imageContainer {
    width: 27%;

    div {
      width: 100%;
      height: 100%;
    }
  }

  &_details {
    width: 68%;
  }

  .textSm {
    color: #574240;
    font-size: 0.65rem;
    margin: 0;
  }

  .textMd {
    font-size: 0.8rem;
    font-weight: 600;
    color: $col-black;
    margin: 0.1rem 0;
  }

  &_rating {
    margin: 0;

    span {
      font-size: 0.8rem;
      color: #ffc107;
      margin: 0;
    }

    span.blank {
      color: #DDD9D9;
    }
  }
}