.dropdown {
  position: relative;
  width: fit-content;

  &__btn {
    @include flex(center, center, row nowrap);
    box-sizing: border-box;
    width: fit-content;

    i {
      margin-left: 0.5rem;
      font-size: 0.6rem;
    }
  }

  &__menu {
    position: absolute;
    bottom: -200%;
    left: 0;
    background: #7b7c80;
    width: fit-content;
    border: 1px solid rgba(35, 175, 205, 0.1);
    border-radius: 0px;
  }

  &__menu__item {
    margin: 0.4rem 0;
    padding: 0.1rem 1rem 0.1rem 0.5rem;

    &__link {
      // color: $col-white;
      font-weight: 500;
    }

    &--selected {
      // background: $col-primary;

      .dropdown__menu__item__link{
        // color: $col-white;
        font-weight: 600;
      }
    }
  }
}