#main-header {
  padding: 2rem 5%;
  @include flex(space-between, center);

  .logo {
    width: 15%;
  }

  .shortcuts {
    width: fit-content;
    @include flex(flex-end, center);
    padding: 0 0 0 1rem
  }

  .shortcuts__item {
    @include flex(flex-end, center);
    width: fit-content;
    margin-left: 1.2rem;
  }

  .shortcuts__label {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    margin-left: 0.5rem;
    color: $col-black;

    i {
      font-size: 0.6rem;
    }
  }
}