#main-header {
  padding: 2rem 5%;
  @include flex(space-between, center);

  .logo {
    width: fit-content;
  }

  .shortcuts {
    width: fit-content;
    @include flex(flex-end, center);
    padding: 0 0 0 1rem
  }

  .shortcuts__item {
    @include flex(flex-end, center);
    width: fit-content;
    margin-left: 1.2rem;
  }

  .shortcuts__icon-wrap {
    @include flex(center, center);
    position: relative;
  }

  .shortcuts__icon-super {
    @include flex(center, center);
    font-size: 0.5rem;
    position: absolute;
    top: -0.2rem;
    right: -0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: $col-secondary;
    border-radius: 100%;
    color: $col-black;
    border: 1px solid $col-white;
  }

  .shortcuts__label {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    margin-left: 0.5rem;
    color: $col-black;

    i {
      font-size: 0.6rem;
    }
  }
}