@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "@/styles/variables";
@import "@/styles/mixins";

.promote {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  color: #000000;
  font-family: "Poppins", sans-serif;

  @media (min-width: 220px) and (max-width: 640px) {
    flex-direction: column;
  }

  @media (min-width: 641px) and (max-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    flex-direction: row;
  }
  .form {
    background-color: #ffffff;
    padding: 2rem 3rem;
    @include respondMax("tablet") {
      padding: 2rem 1rem;
    }
    border-radius: 10px;
  }
  .method {
    height: 184px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
  }
  .parallel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    @include respondMax("tablet") {
      flex-direction: column;
    }
  }
  .count {
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #1d1616;
    display: block;
  }
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  .number {
    height: 54px;
    border: 1px solid #bfa5a3;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
  }

  .board {
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
  }
  .boarder {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .key {
    padding-left: 8px;
    padding-top: 8px;
  }
  .estimate {
    padding-top: 10px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 5px;
    color: #574240;
    text-align: center;
  }
  .line {
    border: 1px solid #bfa5a366;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-weight: 600;
    font-size: 56px;
    @include respondMax("tablet") {
      font-size: 40px;
    }
    line-height: 84px;
    color: #af1328;
    text-align: center;
  }
  .span {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .spaner {
    color: #af1328;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  .pay {
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
    color: #1d1616;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .range {
    height: 6px;
    color: #af1328;
    background-color: #af1328;
    margin-left: 10px;
  }
  .session2 {
    color: #000000;
    flex: 1;
  }
  .add {
    padding-top: 10px;
  }
  .product {
    position: relative;
  }
  
  .money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .preview {
    padding-bottom: 15px;
  }
  p {
    color: #000000;
  }
  .fash {
    padding-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  .heel {
    color: #c7c0bf;
    padding-left: 5px;
  }
  .shiny {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
  }
  .revs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }
  .box_productRating {
    display: flex;

    span {
      font-size: 1.2rem;
      color: #ffc107;
    }
  }
  .six {
    padding-left: 13px;
  }
  .liner {
    border: 1px solid #bfa5a366;
    align-items: center;
    justify-content: center;
  }
  .summary {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .budget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 13px;
  }

  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      height: 6px;
      border-radius: 5px;
      -webkit-appearance: none;
      background: #bfa5a34d;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #af1328;
      margin-top: -1px;
    }

    input[type="range"]::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 16px;
      border-radius: 100px;
      border: 1px solid #bfa5a380;
      cursor: pointer;
      background: #ffffff;
      box-shadow: -500px 0 0 500px #af1328;
    }
  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: #af1328;
  }
  input[type="range"]::-moz-range-track {
    background-color: #bfa5a34d;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #af1328;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #bfa5a34d;
  }
}
