// colors

$col-white: #ffffff;
$col-black: #000000;
$col-bg: #e5e5e5;
$col-light: #f4f1f0;

$col-primary: #af1328;
$error: #ff2d1a;
$col-primary-50: #fccfd5;
$col-primary-100: #a88c8a;
$col-primary-200: #3a2c2b;
$col-primary-300: #1d1616;
$col-primary-400: #483735;

$col-secondary: #e9a501;
$star-filled: #ffc107;
$stock-color: #574240;
$review-color: #c7c0bf;
$col-gray: #bfa5a3;
$col-green: #009d19;
$col-gray-2: rgba(0, 0, 0, 0.21);

$border-bottom: 1px solid $col-gray;
$border-button-red: 1px solid $col-primary;

$font-default: "Poppins", sans-serif;
