// abstracts
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'helpers';


// base
@import 'reset';
@import 'typography';
@import 'global';

// add some basic styles here
@tailwind base;
@tailwind components;
@tailwind utilities;

// custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}