// abstracts
@import "variables";
@import "functions";
@import "mixins";
@import "helpers";

// base
@import "reset";
@import "typography";
@import "global";

// add some basic styles here
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

// custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

progress[value]::-webkit-progress-bar {
  background-color: #f5f0f0;
  border-radius: 2px;
  border: 1px solid rgba(191, 165, 163, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;

  .disabled {
    background: #e2dfde !important;
  }

  .active {
    border: 1px solid $col-primary;
    border-radius: 10px;

    a {
      color: $col-primary !important;
    }
  }

  li {
    padding: 6px 10px;

    &:first-child,
    &:last-child {
      border-radius: 10px;
      background: $col-primary;
      width: 92px;
      text-align: center;

      a {
        color: white;
      }
    }

    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }

    a {
      color: black;
    }
  }
}
