// abstracts
@import "variables";
@import "functions";
@import "mixins";
@import "helpers";

// base
@import "reset";
@import "typography";
@import "global";

// add some basic styles here
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

// custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

progress[value]::-webkit-progress-bar {
  background-color: #f5f0f0;
  border-radius: 2px;
  border: 1px solid rgba(191, 165, 163, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;

  .disabled {
    background: #e2dfde !important;
  }

  .active {
    border: 1px solid $col-primary;
    border-radius: 10px;

    a {
      color: $col-primary !important;
    }
  }

  li {
    padding: 6px 10px;

    &:first-child,
    &:last-child {
      border-radius: 10px;
      background: $col-primary;
      width: 92px;
      text-align: center;

      a {
        color: white;
      }
    }

    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }

    a {
      color: black;
    }
  }
}
.sellprof {
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $col-primary;
    text-shadow: 0 0 0.25px currentColor;
  }
}
.adminTab {
  .ant-tabs-tab-btn {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1d1616;
  }
}

.admin-layout {
  a:hover {
    color: #faba00;
  }
}

.admin-table {
  .ant-table-container table > thead > tr:first-child {
    th:last-child {
      border-top-right-radius: 20px;
    }
    th:first-child {
      border-top-left-radius: 20px;
    }
  }

  table tr th.ant-table-selection-column,
  table tr td.ant-table-selection-column {
    padding-right: 8px;
    padding-left: 22px;
    text-align: center;
  }
  .ant-pagination-item-active {
    font-size: 14px;
    background: #af1328;
    border-radius: 10px;
    color: white;
    border: none;
  }
  .ant-pagination-item-active a {
    color: white;
  }
  .ant-pagination-item-link {
    border: none;
  }
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: #f5c9cf;
    border-color: rgba(0, 0, 0, 0.03);
  }
}
.ant-tabs-ink-bar {
  height: 5px;
  background: #af1328 !important;
}

.ant-tabs-nav-operations {
  display: none;
}

.ant-tabs-nav-wrap {
  @media (min-width: 0px) and (max-width: 640px) {
    margin: 0px 0px;
  }

  @media (min-width: 640px) {
    margin: 0px 3rem;
  }
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
